// Specific CSS for your home-page
.homepage-container{
  display: flex;
  background-color: white;
  box-sizing: content-box;
  border: solid #c1bebe 1px;
  align-items: center;
  width: 100%
}

.homepage-campaign-cards {
  background-image: fill;
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  flex-grow: 1;
  display : flex;
  justify-content: center;
  align-items :center;
  width: 50%;
  height: 900px;
  margin: 0px;
  padding: 0px 0px;
}

.homepage-campaign-cards a {
  color: white;
  font-weight: bold;
  font-family: 'Playfair Display', serif;
  font-size: 50px;
}



