// Specific CSS for your home-page
.homepage-container{
  margin: 10px 15px;
}

.homepage-container h1 {
  margin: 10px;
  font-family: 'Playfair Display', serif;
}

.homepage-container p {
  margin: 10px;
  font-family: 'Playfair Display', serif;
}
