<p>Welcome on the user page</p>

<h2>Bags offered by <%= @user.first_name %>  </h2>
<h2> <%= @user.id %>  </h2>
  <p><%= @user.address %></p>

<ul>
<% @user.bags.each do |bag| %>
  <li><%= bag.title %></li>
<% end %>
</ul>


