<div class="footer fixed-bottom">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    </div>
    <div>
    <a href="#" class="footer-copyright">Privacy</a>
    <a href="#" class="footer-copyright">Terms</a>
    <a href="#" class="footer-copyright">Sitemap</a>
    <a href="#" class="footer-copyright">About us</a>
    </div>

</div>
