
<!-- <div class="btn-group">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Brand</button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">Prada</a>
    <a class="dropdown-item" href="#">Gucci</a>
    <a class="dropdown-item" href="#">Louis Vuitton</a>
  </div>
  <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Style</button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">Prada</a>
    <a class="dropdown-item" href="#">Gucci</a>
    <a class="dropdown-item" href="#">Louis Vuitton</a>
  </div>
  <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Mood</button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">Prada</a>
    <a class="dropdown-item" href="#">Gucci</a>
    <a class="dropdown-item" href="#">Louis Vuitton</a>
  </div>
</div> -->


<div class="container mt-5">
    <div class="row">
      <% @bags.each do |bag| %>
        <div class="col col-lg-4">
          <div class="card-bag">
            <%= cl_image_tag bag.photo.key, alt: "alttext" %>

            <div class="card-bag-infos">
              <div>
                <%= link_to bag.title, bag_path(bag[:id]) %>
                  <% if bag.availability %>
                  <i class="fas fa-circle" style="color:green"></i>
                  <% else %>
                  <i class="fas fa-circle" style="color:red"></i>
                  <% end %>
                <br>
                <%= bag.brand %>
              </div>
                <h2 class="card-bag-pricing"><%= bag.price %>€/day</h2>
              </div>
            </div>
          </div>
      <% end %>
       </div>
      </div>
</div>
