<div class="homepage-container">

    <div class="col-6 homepage-campaign-cards" style="HEIGHT: 600px">
      <a href="/bags"><%= cl_image_tag("VO0920_LastLook_09_tmbnpw", height: 600, width:780) %>Discover new styles</a>
    </div>

    <div class ="col-6 homepage-campaign-cards" style="HEIGHT: 600px">
      <a href="/bags">
       <h1><%= cl_image_tag("corey-tenold-photography-1153567_tykrg3", height: 600, width:800, crop: :fill) %>
       FW2020 TRENDS</h1>
     </a>
    </div>
</div>

