<div class="div container homepage-container">
  <div class="row">
    <div class="col-6 offset-3">
      <h1>Pages#home</h1>
      <p>Find me in app/views/pages/home.html.erb</p>
    </div>
  </div>


  <div class="row">
    <div class="col-6 offset-3">
      <div class ="homepage-cards">
        <p>Cards we want : </p>
        <p>link to special theme search "sac de soirée</p>
      </div>
    </div>
  </div>
</div>
