.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 5px 7px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  font-size: 10px;
  text-decoration: none;
}

.btn-ghost:hover {
  opacity: 1;
  text-decoration: none;
}

.btn-ghost2 {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 5px 7px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  font-size: 15px;
  width: 126px;
  text-decoration: none;
}

.btn-ghost2 a {
  text-decoration: none;
}

.btn-ghost2:hover {
  opacity: 1;
  text-decoration: none;
   color: #4A4A4A;
}
.btn-ghost2:hover a {
  text-decoration: none;
  opacity: 1;
  color: #4A4A4A;
}
.like {
  color: #4A4A4A;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  font-size: 22px;
  width: 55px;
}

.like:hover {
  color: red;
}

.btn-secondary {
  background-color: white;
  color: black;
  width: 172px;
  text-align: left;
}

.btn {
  font-size: 23px;
//  line-height: 0;
}

.btn-other {
  font-size: 15px;
  //line-height: 0;
  margin-top: 11px;
  margin-left: 5px;
  margin-right: 5px;
}

.btn-form {
  background-color: #4A4A4A;
  color: white;
  padding: 10px;
}

.btn-form:hover {
  color:white;
}
