.homepage-cards{
  height : 150px;
  border-radius: 1px;
  padding: 16px;
}

div, h1, h2, h3, h4, h5, h6 {
   font-family: 'Playfair Display', serif;
}

.flexbox {
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
  align-items: center;
}

.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 5px 7px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  font-size: 10px;
}

.btn-ghost:hover {
  opacity: 1;
}



.btn-ghost2 {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 5px 7px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  font-size: 15px;
  width: 126px;

}

.btn-ghost2:hover {
  opacity: 1;
}

.like {
  color: #4A4A4A;
  padding: 3px 7px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  font-size: 22px;
  width: 55px;
}

.like:hover {
  color: red;
}

.border-bottom {
  border-bottom: 1px solid grey;
}

.list-group-item {
  width: 300px;
}

.badge, .badge-pill {
  font-size: 22px;
  text-align: right;
  align-item: right;
  justify-content: space-between;
}

.btn-secondary {
  background-color: white;
  color: black;
  width: 172px;
  text-align: left;
}

.text {
  justify-content: space-between;
  align-items: center;
}

.group {
  justify-content: space-evenly;
  align-items: center;
}

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}
.card {
  border: 0 solid rgba(#000, .2);
}

.card-img-top {
  width: 100%;
}

.image-box {
  width: 5%;
}

.image-box-user {
  width: 186%;
}
.card-box {
  width: 40%;
}


