.homepage-cards{
  height : 150px;
  border-radius: 1px;
  padding: 16px;
}

div, h1, h2, h3, h4, h5, h6 {
   font-family: 'Playfair Display', serif;
}

.flexbox {
  display: flex;
  justify-content: space-around;
  width: 100vw;
  align-items: center;
}

.flexbox1 {
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
  align-items: center;
}

.border-bottom {
  border-bottom: 1px solid grey;
}

.list-group-item {
  width: 300px;
  margin: 5px;
}

.badge, .badge-pill {
  font-size: 22px;
  text-align: right;
  align-item: right;
  justify-content: space-between;
}

.text {
  justify-content: space-between;
  align-items: center;
}

.group {
  justify-content: space-evenly;
  align-items: center;
}

.card-bag {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 8px rgba(0,0,0,0);
  height: 400px;
}

.card-bag > img {
  height: 300px;
  width: 100%;
  object-fit: cover;
  object-position: 50% 100%;
}

.card-bag h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  text-decoration: none;
}

.card-bag a{
  text-decoration: none;
  color: black;
}

.card-bag p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-bag-infos {
  height: 80px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}
.card {
  border: 0 solid rgba(#000, .2);
}

.card-img-top {
  width: 100%;
}

.image-box {
  width: 7%;
}

.image-box-user {
  width: 186%;
}
.card-box {
  width: 40%;
}

.col {
  margin-bottom: 30px;
  border-radius: 5px;
}

.card-user{
  height: 300px;
  width: 400px;
}
.fa-circle{
  margin-left: 10px;

}
