.input-bar {
  width: 100%;
}

.input-label {
  color:blue;
}

.submit-label{
  color:blue
}

.form {

   // background-color: red;
    width: 50%;
    margin: auto;
}

.container1 {
//  background-color: blue;
  width: 1419px;
  padding-top: 50px;
  }
