.navbar-rent-my-bag {
  justify-content: space-between;
  background: white;
}

.navbar-rent-my-bag .navbar-collapse {
  flex-grow: 0;
}

.navbar-rent-my-bag h1 {
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  margin: 10px;
  align-items: center;
}

.navbar-rent-my-bag a {
  font-family: 'Playfair Display', serif;
  font-size: 20px;
}

.fa-heart:before {
    content: "\f004";
    padding: 20px;
    margin-top: 30px;
}

.nav-item {
  text-decoration: none;
  color: black;
}

.nav-link a{
  color: black;
}

.dropdown-menu a {
  color: #4d4848;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
}
ul.menubar {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.second-header{
  background-color: white;
  box-sizing: content-box;
  width: 100%;
  border: solid #c1bebe 1px;
  padding: 5px;
  display: flex;
  width: 100%
}

.menu-item {
  flex-grow: 1;
  align-items: center;
}

.menu-item a {
  font-size: 23px;
  font-family: 'Playfair Display', serif;
  color: black;
  text-decoration: none;
}

.second-header a{
  font-family: 'Playfair Display', serif;
  font-size: 23px;
  color: black
}

.second-header li{
  display : inline;
  padding: 10px;
}

.nav-item a {
  color: black;
}

ul.menubar {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}



.dropdown a{
  color: #454242;
  font-size: 20px;
  padding: 10px;
}
