.navbar-rent-my-bag {
  justify-content: space-between;
  background: white;
}

.navbar-rent-my-bag .navbar-collapse {
  flex-grow: 0;
}

.navbar-rent-my-bag .navbar-brand h1 {
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  margin: 10px;
}

.navbar-rent-my-bag a {
  font-family: 'Playfair Display', serif;
  font-size: 20px;
}
